$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?01491ad2297bbf2c7c98f0056db80184") format("truetype"),
url("./flaticon.woff?01491ad2297bbf2c7c98f0056db80184") format("woff"),
url("./flaticon.woff2?01491ad2297bbf2c7c98f0056db80184") format("woff2"),
url("./flaticon.eot?01491ad2297bbf2c7c98f0056db80184#iefix") format("embedded-opentype"),
url("./flaticon.svg?01491ad2297bbf2c7c98f0056db80184#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "dumbbell": "\f101",
    "weightlifter": "\f102",
    "stationary-bike": "\f103",
    "man-lifting-weight": "\f104",
    "woman": "\f105",
    "treadmill": "\f106",
    "dumbbell-1": "\f107",
    "weightlifting": "\f108",
    "pull-up-bar": "\f109",
    "treadmill-1": "\f10a",
);

.flaticon-dumbbell:before {
    content: map-get($flaticon-map, "dumbbell");
}
.flaticon-weightlifter:before {
    content: map-get($flaticon-map, "weightlifter");
}
.flaticon-stationary-bike:before {
    content: map-get($flaticon-map, "stationary-bike");
}
.flaticon-man-lifting-weight:before {
    content: map-get($flaticon-map, "man-lifting-weight");
}
.flaticon-woman:before {
    content: map-get($flaticon-map, "woman");
}
.flaticon-treadmill:before {
    content: map-get($flaticon-map, "treadmill");
}
.flaticon-dumbbell-1:before {
    content: map-get($flaticon-map, "dumbbell-1");
}
.flaticon-weightlifting:before {
    content: map-get($flaticon-map, "weightlifting");
}
.flaticon-pull-up-bar:before {
    content: map-get($flaticon-map, "pull-up-bar");
}
.flaticon-treadmill-1:before {
    content: map-get($flaticon-map, "treadmill-1");
}
